@import url('https://fonts.googleapis.com/css?family=Poppins:300,700,900');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
* {
    padding: 0;
    margin: 0;
   
}
header {
    background-image: url('images/huntington.jpg');
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 10px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: auto;
}
.page-wrapper{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color:#F0F8FF;
    margin-bottom: 10px;
    background-size: contain;
    font-family:'Dancing Script', cursive;    
    font-size: 32px;
    background: -webkit-linear-gradient(#eee, rgb(105, 154, 173));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:transparent;
    filter: invert(2) contrast(6);
}

h1:after {
    display: inline-block;
    position: relative;
    content: '';
    background: url('images/zen.svg');
    width: 60px;
    height: 60px;
    top: 30px;
    right: 250px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
}
h2,
h3 {
margin-top:20px;
margin-bottom:20px;

}

li {
    margin-bottom: 30px;
}

.summary {
    padding-top: 10px;
}
p[role='contentinfo'] {
    font-family: 'Poppins', sans-serif;
    padding: 60px 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-size: 25px;
    
}
p[role='contentinfo']::after{
    background-color:darkolivegreen;
    opacity:0.6;
}
p[role='contentinfo'] > a {
    color: white;
    text-decoration: none;
    text-align: center;
}

footer {
    width: 100%;
    background-color: cadetblue;
    font-size: 50px;
    text-align: center;
    height: 50px;
    clear:both;
}
footer > a {
color:white;
text-decoration: none;
}

.beauty,.anchor{
color:transparent;
filter:invert(2);
font-size: 32px;
background: -webkit-linear-gradient(#eee, rgb(105, 154, 173));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Dancing Script', cursive;
}

.sidebar {
    width: 100%;
    background:url(images/bamboo.png);

}
.design-selection {
    padding: 30px 70px;
    font-size: 16px;
    

}
.design-selection > h3 {
    display: none;
    column-count: 2;
    columns: 50px;
}
.designer-name,.design-name {
font-family:'Dancing Script', cursive;
font-size: 23px;
background: -webkit-linear-gradient(#eee, rgb(49, 47, 47));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;    
text-decoration: none;
}

.design-archives > h3 {
display: none;
}

.archives>li{
float: left;
width: 50%;
list-style:none;
text-align:center;
}

.order{
overflow: auto;
text-align: center;
list-style: none;
}

.order>li{   
float:left;
width:50%;
}


